
nav {
    display: flex;
    justify-content: flex-end;
}

.navLast {
    flex-grow: 4;
}

.navFirst {
    flex-grow: 10;
}

.navEntry {
    cursor: pointer;
    font-size: 2rem;
}

nav > div {
    background-color: whitesmoke;
    padding: 0.5rem 2rem 0.5rem 2rem;
}


.navEntry:hover {
    background-color:rgba(0,0,0,0);
}

.selected {
    background-color:rgba(0,0,0,0);
}

